body,
h1,
p,
footer {
  margin: 0;
  overflow-x: hidden;
}
body {
  min-width: 1600px;
  background-color: #3ebee7;
}
header {
  background-color: #433185;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  min-width: 1500px;
}

footer {
  background-color: #3ebee7;
  color: #000000;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.mainclass {
  width: 100%;
  height: 980px;
  background-image: url("/about us/resource/space-beauty.jpg");
  background-size: contain;
  background-attachment: fixed;
}

.loog {
  width: 80px;
  height: 80px;
  background-image: url("/about us/resource/Remove-bg.ai_1709140091974.png");
  background-size: cover;
  background-position: center;
  border: none;
  margin-left: 140px;
  float: left;
  transition: transform 0.5s ease;
  margin-top: 10px;
}
.loog:hover {
  transform: rotate(360deg);
}
.links {
  float: left;
  margin-left: 40px;
  margin-top: 50px;
  position: relative;
}
.links a {
  margin-right: 40px;
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.links a:hover {
  background-color:#433185;
  color: #3ebee7;
}
.links a:last-child {
  margin-right: 0;
}
.links span {
  position: absolute;
  top: 100%;
  left: 165px;
}

.links2 {
  float: right;
  margin-right: 100px;
  margin-top: 20px;
  position: relative;
  background-color: #3ebee7; 
}

.links2 a {
  margin-right: 40px;
  color: #433185;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background-color: #3ebee7; 
  transition: color 0.3s ease, background-color 0.3s ease;
}
.links2_2:hover {
  background-color: #3ebee7; 
  color: white;
}
.buttons {
  position: absolute;
  top: 60px;
  right: 100px;
}
.buttons button {
  margin-right: 40px;
  border-radius: 30px;
  border-color: transparent;
  color: #433185;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
}
.buttons .b1bs {
  display: inline-block; 
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  padding-right: 0px;
  width: 50px;
  margin-right: 10px !important;
  }
  .buttons .b2bs {
    display: inline-block; 
    background-color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    padding-right: 0px;
    width: 50px;
    margin-right: 40px !important;
    }
    
.b1b {
  margin-right: 10px !important;
  width: 50px;
}

.b2b {
  margin-right: 40px !important;
  width: 50px;
  font-weight: bold;
}

.b3b {
  width: 100px;
  font-weight: bold;
}

.block {
  width: 800px;
  background-color: #3ebee7;
  height: 100px;
  position: fixed;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-left: calc(100% - 800px);
}

.btext {
  text-align: left;
  margin-top: 20px;
  float: left;
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
}

.btext p {
  margin-left: 140px;
}

.highlight {
  font-weight: bold;
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
}

.copyright {
  position: absolute;
  margin-left: 140px;
  bottom: 20px;
  font-family: "Century Gothic", sans-serif;
  font-size: 12px;
}

.footer {
  position: relative;
  text-align: left;
}

.social {
  position: absolute;
  right: 240px;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: bold;
  top: 12px;
}

.social-icons {
  display: flex;
  position: absolute;
  right: 160px;
  top: 40px;
  align-items: center;
}

.icon {
  display: inline-block;
  margin-right: 40px;
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: scale(1.2);
}

.icon img {
  width: 30px;
  height: 30px;
}

.contacts {
  position: absolute;
  right: 210px;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: bold;
  top: 75px;
}

.data {
  font-size: 16px;
  position: absolute;
  right: 185px;
  bottom: 20px;
  font-family: "Century Gothic", sans-serif;
}

.logo1 {
  margin-top: 240px;
  margin-left: 140px;
  margin-right: 100px;
  width: 250px;
  height: 200px;
}

.text1 {
  margin-top: 240px;
  margin-bottom: 40px;
  font-family: "Century Gothic", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.text2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.text3 {
  margin-left: auto;
  margin-right: 700px;
  margin-bottom: 40px;
  font-family: "Century Gothic", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.logo2 {
  margin-left: auto;
  margin-right: 140px;
  width: 300px;
  height: 200px;
}
.text4 {
  margin-left: auto;
  margin-right: 140px;
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.main_1 {
  display: flex;
  width: 100%;
  height: 540px;
}

.main_1_1 {
  display: flex;
  flex-direction: column;
}

.main_2 {
  display: flex;
  width: 100%;
  height: 630px;
}
.main_2_1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen {
  .desktop {
    overflow-x: hidden;
  }
}
@media screen {
  .laptop {
    zoom: 0.8;
    transform-origin: top left;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}
@media screen {
  .laptop2 {
    zoom: 0.67;
    transform-origin: top left;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
#telegram-icon {
  font-size: 30px;
  color: #2aabee;
  background-color: #ffffff;
  background: radial-gradient(circle, #ffffff, rgba(255, 255, 255, 0));
  border-radius: 50%;
}
.fa-telegram {
  margin-top: -4px;
}
.b3b {
  width: 100px;
}

.b3b:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.b1b:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.b2b:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.data a {
  text-decoration: none;
  color: #433185;
  font-weight: bold;
}
.data a:hover {
  color: #f3f3f3;
}
